<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.jsdelivr.net/gh/gKushagra/static-assets/sso.apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.jsdelivr.net/gh/gKushagra/static-assets/sso.favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://cdn.jsdelivr.net/gh/gKushagra/static-assets/sso.favicon-16x16.png">
  <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css">
  <title th:text="${pageTitle}"></title>
  <script src="https://cdn.jsdelivr.net/gh/gKushagra/static-assets/auth.main@v1.1.0.js"></script>
</head>

<body>
  <div class="bg-white h-screen">
    <div class="w-full flex flex-wrap justify-center">
      <div class="w-full lg:w-6/12 md:w-8/12 sm:w-12/12 flex flex-col">
        <div class="flex start md:justify-center pt-8 pb-2 md:pl-12 md:-mb-12">
          <span class="bg-yellow-500 text-white font-bold text-xl p-4">Please Wait...</span>
          <span id="page" th:attr="data-value=${page}" style="display: none;"></span>
          <span id="redirect-page" th:attr="data-value=${redirectPage}" style="display: none;"></span>
          <span id="redirect-login" th:attr="data-value=${redirectLogin}" style="display: none;"></span>
          <span id="error" th:attr="data-value=${error}" style="display: none;"></span>
          <span id="redirect-error" th:attr="data-value=${redirectError}" style="display: none;"></span>
        </div>
      </div>
    </div>
    <div class="text-center pt-1 pb-1">
      <small id="copyright"></small>
    </div>
  </div>

  <script>
    (function () {
      footerStatement(document.getElementById('copyright'));
      createSession('page', 'redirect-page', 'redirect-login', 'error', 'redirect-error');
    })();
  </script>
</body>

</html>