<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="apple-touch-icon" sizes="180x180" href="https://cdn.opensourcedit.com/sso.apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="https://cdn.opensourcedit.com/sso.favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="https://cdn.opensourcedit.com/sso.favicon-16x16.png">
	<link rel="stylesheet" href="https://cdn.opensourcedit.com/auth.login.css">
	<script src="https://cdn.opensourcedit.com/auth.main.js"></script>
	<title>SSO Login</title>
</head>

<body>
<div class="login-container">
	<div class="login-container-col1"></div>
	<div class="login-container-col2">
		<form th:action="@{${uri}}" th:object="${user}" method="post" class="login-container-col2-card">
			<div class="login-container-col2-card-col1">
                    <span>
                        <p>Softwright.in</p>
                    </span>
			</div>
			<div class="login-container-col2-card-col2">
                    <span>
                        <p>Hello! Please enter your email and password!</p>
                    </span>
			</div>
			<div th:if="${error}" class="login-container-col2-card-col2">
                    <span>
                        <p th:text="${error}" class="error-message"></p>
                    </span>
			</div>
			<div class="login-container-col2-card-col3">
				<input th:field="*{email}" id="email" type="text" placeholder="Email" required>
				<div class="login-container-col2-card-col3-err">
					<small id="emailValidationError" class="error-message"></small>
				</div>
				<input th:field="*{password}" id="password" type="password" placeholder="Password" required>
				<div class="login-container-col2-card-col3-strength-bar">
					<span class="progress" id="strengthBar"></span>
				</div>
				<div class="login-container-col2-card-col3-err">
					<small id="passValidationError" class="error-message"></small>
				</div>
				<button id="showPassword" type="button">show password</button>
			</div>
			<div class="login-container-col2-card-col4">
				<a th:href="@{${resetUri}}" target="_blank" class="login-container-col2-card-col4-btn1">
					forgot password?
				</a>
				<div class="spacer"></div>
				<button id="submit" type="submit" class="login-container-col2-card-col4-btn2">log in</button>
			</div>
			<div class="login-container-col2-card-col6">
				<small id="copyright"></small>
			</div>
		</form>
	</div>
	<div class="login-container-col3"></div>
</div>

<script>
        emailValidationListener(document.getElementById('email'), document.getElementById('emailValidationError'),
        	[document.getElementById('submit')]);
        passwordValidationListener(document.getElementById('password'),
            document.getElementById('passValidationError'), document.getElementById('strengthBar'),
            [document.getElementById('submit')]);
        togglePassword(document.getElementById('showPassword'), document.getElementById('password'));
        footerStatement(document.getElementById('copyright'));
    </script>
</body>

</html>