<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="apple-touch-icon" sizes="180x180" href="https://cdn.opensourcedit.com/sso.apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="https://cdn.opensourcedit.com/sso.favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="https://cdn.opensourcedit.com/sso.favicon-16x16.png">
	<link rel="stylesheet" href="https://cdn.opensourcedit.com/auth.signup.css">
	<script src="https://cdn.opensourcedit.com/auth.main@v1.1.0.js"></script>
	<title th:text="${pageTitle}"></title>
</head>

<body>
<div class="signup-container">
	<div class="signup-container-col1"></div>
	<div class="signup-container-col2">
		<form th:action="@{${uri}}" th:object="${user}" method="post" class="signup-container-col2-card">
			<div class="signup-container-col2-card-col1">
                    <span class="signup-container-col2-card-col1-row1">
                        <p th:text="${pageTitle}"></p>
                    </span>
				<span class="signup-container-col2-card-col1-row2">
                        <p>Create your account!</p>
                    </span>
				<span th:if="${error}" class="signup-container-col2-card-col1-row2">
                        <p th:text="${error}" class="error-message"></p>
                    </span>
			</div>
			<div class="signup-container-col2-card-col2">
				<label for="email">Enter your email<sup>*</sup> <small>(required)</small> </label>
				<input type="text" th:field="*{email}" id="email" name="email" required>
				<span id="emailValidationError" class="error-message"></span>
				<label for="password">Enter your password<sup>*</sup> <small>(required)</small> </label>
				<input id="password" type="password" th:field="*{password}" name="password" required>
				<div class="signup-container-col2-card-col2-strength-bar">
					<span class="progress" id="strengthBar"></span>
				</div>
				<span id="passValidationError" class="error-message"></span>
				<label for="password-confirm">
					Re-enter your password to confirm<sup>*</sup>
					<small>(required)</small>
				</label>
				<input id="retypePassword" type="password" name="passwordConfirm" required>
				<span id="passwordMatchError" class="error-message"></span>
				<button id="showPassword" type="button" (click)="showPassword=!showPassword">show password</button>
				<label for="firstName">Enter your First Name<sup>*</sup> <small>(required)</small> </label>
				<input type="text" th:field="*{firstName}" name="firstName" required>
				<label for="lastName">Enter your Last Name<sup>*</sup> <small>(required)</small> </label>
				<input type="text" th:field="*{lastName}" name="lastName" required>
			</div>
			<div class="signup-container-col2-card-col5">
				<a href="/" class="signup-container-col2-card-col5-btn1">
					log in
				</a>
				<div class="spacer"></div>
				<button id="submit" type="submit" class="signup-container-col2-card-col5-btn2">sign up</button>
			</div>
			<div class="signup-container-col2-card-col6">
				<small id="copyright"></small>
			</div>
		</form>
	</div>
	<div class="signup-container-col3"></div>
</div>

<script>
        emailValidationListener(document.getElementById('email'), document.getElementById('emailValidationError'),
        	[document.getElementById('submit')]);
        passwordValidationListener(document.getElementById('password'),
            document.getElementById('passValidationError'), document.getElementById('strengthBar'),
            [document.getElementById('submit')]);
        togglePassword(document.getElementById('showPassword'), document.getElementById('password'));
        matchPasswords(document.getElementById('password'),
            document.getElementById('retypePassword'), document.getElementById('passwordMatchError'),
            [document.getElementById('submit')]);
        footerStatement(document.getElementById('copyright'));
    </script>
</body>

</html>